body{
    background-color: black;
    color: white;
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
}
.back-ground-img{
    background-image:linear-gradient(to top, rgba(0, 0, 0, 0.479),rgba(0, 0, 0, 0.932)),url("images/netflix-bg-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}
 .netflixlogo{
    width: 15%;
}
.btn-danger{
    background-color:rgb(229,9,20) !important;
}
.bg-container-text{
    margin: 100px 0px;
}
.bg-head-text{
    font-size: 50px;
    font-weight: 900;
}
.email-input-padding{
    /* background-color: rgba(22, 22, 22, 0.7); */
    width: 50vh;
    padding: 15px 10px;
}

.btn-padding{
    padding: 10px 30px;
}
.divider-styling{
    width:100%;
    height: 7px;
    left: 0px;
    bottom: 0px;
    background-color:rgb(45,45,45); 
}
.box-marg-padd{
    margin: 70px 30px ;
}
.img-container{
    position: relative;
}
.img{
    z-index: 1;
}
.heading-style{
    font-size: 50px;
    font-weight: 900 !important;
    margin-top: 100px;
}
.section2-video{
    position: absolute;
    width: 69%;
    top:80px;
    right: 83px;
    z-index: -1;
}
.gif-container{
    background-color: black;
    height:30%;
    width:60%;
    left:105px;
    bottom:30px;
}
.download-text{
    font-size: 13px;
}
 .gif-img{
    width: 50%;
 }
.section4-video{
    position: absolute;
    width: 60%;
    top:40px;
    right: 110px;
    z-index: -1;
}
@media only screen and (max-width:768px){
    .bg-head-text{
        text-align: center;
        font-size: 30px;
    }
    .get-email{
        flex-wrap: wrap;
    }
    .email-label-text{
        padding: 0px 50px;
        font-weight: 500;
    }
    .box-marg-padd{
        margin-top: 0px;
        /* padding: 50px; */
    }
    .heading-style{
        font-size: 30px;
        text-align: center;
    }
    .data-style{
        font-size: 15px !important;
        font-weight: 400;
        text-align: center;
    }
    .section2-video{
        top:40px;
        right: 50px;
    }
    /* .gif-container{
        height:30%;
        width:60%;
        left:60px;
        bottom:20px;
    }
    .movie-name{
        font-size: 10px !important;
    }
    .download-text{
        font-size: 8px;
    }
    .gif-img{
        width: 20%;
     } */
     .section4-video{
        top:20px;
        right: 60px;
    }
    h3{
        font-size: 19px;
    }
    .link-size{
        font-size: 12px;
        font-weight: 100;
    }
}
@media only screen and (min-device-width:768px)and (max-device-width: 1024px){
    .bg-head-text{
        font-size: 40px;
    }
    .email-input-padding{
        width: 25vh;
        padding: 15px 10px;
    }
    .heading-style{
        font-size: 45px;
        margin-top: 60px;
    }
    .section2-video{
        top:65px;
        right: 65px;
    }
    .section4-video{
        top:20px;
        right: 90px;
    }
}

    